/* your code */
table{
	border-collapse : collapse;
	border: 1px solid black;
	border-radius :12px;
	
	
	 
}

th,td{
	padding : 15px;
	
	
}
th{
	background-color: skyblue;
}

tr:nth-child(even) {
  background-color: grey;
}